@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Baskervville&display=swap');
* {
	box-sizing: border-box;
}
.container {
	margin: 0px auto;
	width: 1180px;
	clear: both;
}
body{
	background-color: #DCE1E3;
}
header{
    padding: 20px 0px 10px;
	background: #DCE1E3;
	width: 100%;
	height: 150px;
}

header h1 {
	clear: both;
	float: center;
	padding-left: 60px;
	margin-bottom: 0px;
	font-size: 40px;
	color: #5C5F58;
	font-family: 'Baskervville', serif;
    letter-spacing: 2px;
}

h1 {
	font-size: 48px;
	text-align: center;	
	font-family: 'Baskervville', serif;
}
h2 {
	font-size: 30px;
	text-align: Center;
	font-family: 'Baskervville', serif;
	font-weight: lighter;
	letter-spacing: 4px;
	color:#5C5F58;

}
h3 {
	font-size: 25px;
	text-align: center;
	font-family: 'Baskervville', serif;
	letter-spacing: 2px;
	color:#5C5F58;
}
p{
    color:#5C5F58; 
	font-size: 15px;
	font-family: 'Assistant', sans-serif;
	letter-spacing: 2px;
    font-weight: bold;
	padding-bottom:20px;
	margin:0px;
    text-align: center;
}

#writing h3{
	font-size: 25px;
	text-align: center;
	font-style: italic;

}
#writing p{
	font-size: 15px;
	text-align: left;
	column-count: 3;
}

footer	{
	clear:both;
	margin: 4rem 0rem;
    padding: 2rem 0rem;
    border-top: 2px solid #B73225;
    font-size: 25px;
    padding-left: 75px;
}
footer nav{
	text-align: center;
}
.fa{
	text-decoration: none;
}
.fa:hover {
	opacity: 0.5;
}
.fa-facebook {
	color: #5C5F58;
}
.fa-twitter {
	color: #5C5F58;
}
.fa-instagram {
	color: #5C5F58;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


.contact-form-header {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.contact-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-form {
  background-color: #f6f7f88f;
  border: 1px solid #d6d9dcc2;
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0px 300px 40px 0;
  float:right;
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}
  .form-row {
    flex-direction: row;
    align-items: flex-start; 
    margin-bottom: 20px;
  }
  .form-row input[type='text']
  .form-row input[type='email'] {
    width: 250px;
    height: initial;
    background-color: #FFFFFF;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
border: 1px solid #D55C5F;
color: #D55C5F;
box-shadow: none; /* Remove default red glow in Firefox */
}
.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-form-row legend {
  margin-bottom: 15px;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
  margin-top: 2px;
}
  
.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
  float: left;
}
.form-row select {
  width: 100%;
  padding: 5px;
  font-size: 14px;            /* This won't work in Chrome or Safari */
  -webkit-appearance: none;   /* This will make it work */
}
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}
.form-row .checkbox-label {
  margin-bottom: 0;
}
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #B73225;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #B73225;
}

.form-row button:active {
  background-color: #B73225;
}
@media only screen and (min-width: 700px) {
  .contact-form-header,
  .contact-form {
    width: 600px;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],    /* Add */
  .form-row select,                 /* These */
  .form-row textarea {              /* Selectors */
    width: 250px;
    height: initial;
  }
  .legacy-form-row {
      margin-bottom: 10px;
    }
    .legacy-form-row legend {
      width: 120px;
      text-align: right;
      padding-right: 20px;
    }
    .legacy-form-row legend {
      float: left;
    }
    .form-row .instructions {
      margin-left: 120px;
    }
    .form-row .checkbox-label {
      margin-left: 120px;
      width: auto;
    }
    .form-row button {
      margin-left: 120px;
    }



}
  .center { 
      margin-left: 350px;
    }

  .tg  {
    border-collapse:collapse;
    border-spacing:0;
    float:right;
    margin-right: 40%;
    margin-bottom: 30px;
  }
  .tg td{
    border-style:solid;
    border-width:3px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
  }
  .tg th{
    border-style:solid;
    border-width:3px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
  }
  .tg .vanilla{
    background-color:white;
    border-color:white;
    text-align:left;
    vertical-align:top}

  .tg .head{
    background-color:black;
    border-color:white;
    color:white;
    text-align:left;
    vertical-align:top;
    font-weight: bold;
  }
  .tg .chocolate{
    background-color:brown;
    border-color:white;
    text-align:left;
    vertical-align:top
  }
  .tg .strawberry{
    background-color:pink;
    border-color:white;
    text-align:left;
    vertical-align:top
  }
  
  .mainmenu ul {
    float: left;
    width: 100%;
    list-style: none;
    color:#5C5F58;
    background: #DCE1E3;
    padding-left:0px;
    border: solid #5C5F58;
    border-width: 2px 0;
    margin: 0 0 1em 0;
  }
  .mainmenu a, 
  .mainmenu a:visited {
    display: block;
    font-family:'Assistant', sans-serif;
    font-size:17px;
    font-weight:bold;
    color: #5C5F58;
    text-decoration: none;
    padding: 1em 1em;
  }
  .mainmenu a:hover{
    color:#B73225;
  }
  
  .mainmenu ul li {
    float:left;
  }
    
  .mainmenu li ul {
    position: absolute;
    height: auto;
    width:15em;	
    border-width: 1px;
    margin: 0;
  }
  
  .mainmenu li li {
    width:15em ;
  }
  
  .mainmenu li ul ul {
    margin: -3em 0 0 14em;
  }
  
  .dropdown, 
  .mainmenu li:hover ul ul
  {
    left: -999em;
  }
  
  .mainmenu li:hover>.dropdown  
  {
    left: auto;
  }
a{
  text-decoration: none;
  color:#5C5F58;
}
a:hover{
  color:#B73225;
}